* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    color: rgb(66, 66, 66);
}

body {
    background-color: white;
    font-family: 'Quicksand', 'Arial';
}

p {
    margin: 0;
    padding: 0;
}

p:last-of-type {
    margin-bottom: 20px;
}

.section:nth-child(odd) {
    background-color: white;
}

.section:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

.divider {
    display: block;
    margin: 0 auto 20px auto;
    height: 4px;
    width: 30%;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.divider--purple {
    background-color: purple;
}

/* Landing Section */

.section.landing {
    height: 100vh;
    width: 100%;
    background-color: lightskyblue;
    background-image: url("/section04-project-building-startup/assets/img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.landing__nav {
    padding: 20px 100px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

.landing__links {
    list-style: none;

    display: flex;
}

.landing__links li {
    padding-left: 15px;
}

.landing__links a {
    font-weight: 700;
    color: inherit;

    text-decoration: none;
}

.landing__links a:hover {
    text-decoration: underline;
}

.landing__content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: 1s fadein 0.3s forwards, 1s slideintoplace 0.3s forwards;
    opacity: 0;
    transform: translateY(50px);
}

.landing__content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    margin: 10px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.588);
}

.landing__content h2 {
    font-size: 32px;
    margin: 10px;
    text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.588);
}

.landing__button {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    padding: 8px 16px;
    margin-bottom: 100px;
    background-color: #3f51b5;
    border-radius: 5px;

    transition: background-color 0.2s ease-in-out;
}

.landing__button:hover {
    background-color: purple;
}

@media only screen and (max-width: 780px) {
    .landing__content h2 {
        font-size: 24px;
    }
}

/* Gallery Section */

.gallery {
    text-align: center;

    padding: 20px 80px;
}

.gallery__contents {
    display: flex;
    flex-wrap: wrap;
}

.gallery__picture {
    padding: 20px;

    height: 300px;
    
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.picture--fr1 {
    flex-grow: 1;
    /* flex-basis: calc(33.3% - 40px); */
    flex-basis: 30%;
}

.picture--fr3 {
    flex-grow: 3;
    /* flex-basis: calc(66.6% - 40px); */
    flex-basis: 70%;
}

@media only screen and (max-width: 1000px) {
    .gallery__picture {
        flex-basis: 50%;
    }
} 

@media only screen and (max-width: 875px) {
    .gallery__picture {
        flex-basis: 100%;
    }
} 

/* Features */

.features {
    margin: 20px 80px;
    text-align: center;
}

.features__packages {
    display: flex;
    flex-wrap: wrap;
}

.package {
    flex-basis: 50%;
    padding: 20px;
}

.package__icon {
    font-size: 56px;
}

.icon--faded-purple {
    color: rgb(156, 137, 185);
}

.package__title {
    margin-top: 5px;
}

@media only screen and (max-width: 730px) {
    .package {
        flex-basis: 100%;
    }
}

/* Testamonials */

.testamonials {
    padding: 20px 80px;
    text-align: center;
}

.testamonials__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.testamonial {
    width: 80%;
}

.testamonial:nth-child(odd) {
    align-self: flex-start;
}

.testamonial:nth-child(even) {
    align-self: flex-end;
}

.testamonial__quote {
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 300;
}

.testamonial__author {
    font-style: italic;
    font-size: 0.8em;
}

@media only screen and (max-width: 1000px) {
    .testamonial {
        align-self: center !important;
    }
}

/* Call to Action */

.call {
    padding: 20px 80px;
    text-align: center;
}

.call__content form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.call__content input {
    margin: 10px;
    padding: 8px;
    width: 80%;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.555);

    font-size: 24px;
}

.call__content button {
    border: 0;
    color: white;
}

/* Footer */

.section.footer {
    padding: 20px 80px;
    text-align: center;

    background-color: #607d8b;

    color: white;
}

.footer p {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social > * {
    padding: 5px;
    font-size: 36px;
}

/* Animations */

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes slideintoplace {
    100% {
        transform: translateY(0px);
    }
}